{% extends "newworld/base.html" %} 

{% block head %}
<title>Server Status - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/server_status.css') }}"/>
{% endblock %}

{% block content%}
<div class="container col-xl-5 col-lg-6 col-md-6">

    <br><br>
    <br><br>
    
    <div class="card bg-secondary border-warning">
        <div class="card-header button btn-outline-warning" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne">
            <h1>Server Status</h1>
        </div>

        <div id="collapseOne" class="collapse">
            <div class="card-body bg-dark">
                <p1>Dates and Times show the current snapshot of information available.</p1><br>
                <p1>Database Age is the time difference between the current NWMP snapshot and the most recent Database update.</p1><br>
                <p1>NWMarketPrices Age is the time difference between Now and the latest NWMP update.</p1><br>
                <p1>Status shows the state of the data: Up-to-Date, Scanning, Updating.</p1><br>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="row justify-content-around">
        {% include 'newworld/server/server_status_utc_hx.html' %}
    </div>
    <div class="row justify-content-around">

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th style="width:20%">Server</th>
                    <th style="width:20%">Status</th>
                    <th style="width:15%">Database</th>
                    <th style="width:15%">Age (H:M)</th>
                    <th style="width:15%">NWMarketPrices</th>
                    <th style="width:15%">Age (H:M)</th>
                </tr>
            </thead>
            <tbody>
                {% include 'newworld/server/server_status_hx.html' %}
            </tbody>
        </table>
  
    </div>
</div>

<br><br>
{% endblock %}