<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    {% include "newworld/nwdb_config.html" %}
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/newworld/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/newworld/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/newworld/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/newworld/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/newworld/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/newworld/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/newworld/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    {% block head %}
    <title>NW Calculators</title>
    <link  id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/base.css') }}"/>
    {% endblock %}
  </head>

  <body>
    {% include "newworld/navbar.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    

    {% block content%}
    <br></br>
    <br></br>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="https://discord.com/invite/ACnsS59ERb" target="#"><button type="button" class="btn btn-outline-primary btn-lg btn-block mb-2 mt-2 home-button">Discord<br><span style="font-size:1.35rem">(chats, bugs, & suggestions)</span></button></a>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="/newworld/skills"><button type="button" class="btn btn-light btn-lg btn-block mb-2 mt-2 home-button">Trade Skills<br><span style="font-size:1.35rem">(start here)</span></button></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="/newworld/gearsets"><button type="button" class="btn btn-light btn-lg btn-block mb-2 mt-2 home-button">Gear Sets<br><span style="font-size:1.35rem">(or here)</span></button></a>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="/newworld/taxes_and_fees"><button type="button" class="btn btn-light btn-lg btn-block mb-2 mt-2 home-button">Taxes & Fees<br><span style="font-size:1.35rem">(fine-tune results)</span></button></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="/newworld/server_api"><button type="button" class="btn btn-secondary btn-lg btn-block mb-2 mt-2 home-button">Server API<br><span style="font-size:1.35rem">(choose server)</span></button></a>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="/newworld/tradepost"><button type="button" class="btn btn-secondary btn-lg btn-block mb-2 mt-2 home-button">Trade Post<br><span style="font-size:1.35rem">(fill this out)</span></button></a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="/newworld/refining"><button type="button" class="btn btn-info btn-lg btn-block mb-2 mt-2 home-button">Refining Cost<br><span style="font-size:1.35rem">(behold, results!)</span></button></a>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <a class="nav-link" href="/newworld/material/{{rand_mat}}"><button type="button" class="btn btn-info btn-lg btn-block mb-2 mt-2 home-button">Random Material<br><span style="font-size:1.35rem">(calculator)</span></button></a>
        </div>
      </div>
      
      <br>
    </div>
    {% endblock %}
    
    <script src="{{ url_for('static', filename='newworld/js/htmx.min.js') }}"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script>
        $('.alert').alert()
    </script>
    
  </body>
</html>