{% extends "newworld/base.html" %} 

{% block head %}
<title>Calculators - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/base.css') }}"/>
{% endblock %}

{% block content %}
<br></br>
<br></br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/material/rawhide" target="_blank"><button type="button" class="btn btn-primary btn-lg btn-block mb-2 mt-2 home-button">Leatherworking</button></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/material/iron_ore" target="_blank"><button type="button" class="btn btn-success btn-lg btn-block mb-2 mt-2 home-button">Smelting</button></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/material/silver_ore" target="_blank"><button type="button" class="btn btn-danger btn-lg btn-block mb-2 mt-2 home-button">Smelting (Precious)</button></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/material/stone" target="_blank"><button type="button" class="btn btn-secondary btn-lg btn-block mb-2 mt-2 home-button">Stone Cutting</button></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/material/fibers" target="_blank"><button type="button" class="btn btn-info btn-lg btn-block mb-2 mt-2 home-button">Weaving</button></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/material/green_wood" target="_blank"><button type="button" class="btn btn-warning btn-lg btn-block mb-2 mt-2 home-button">Woodworking</button></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/material/air_mote" target="_blank"><button type="button" class="btn btn-light btn-lg btn-block mb-2 mt-2 home-button">Alchemy</button></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/calculator/market" target="_blank"><button type="button" class="btn btn-dark btn-lg btn-block mb-2 mt-2 home-button">Market Profit</button></a>
        </div>
    </div>
    
    <br>
</div>
{% endblock %}