{% extends "newworld/base.html" %} 

{% block head %}
<title>Character - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/base.css') }}"/>
{% endblock %}

{% block content %}
<br></br>
<br></br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/character/skills" target="_blank"><button type="button" class="btn btn-primary btn-lg btn-block mb-2 mt-2 home-button">Skill Levels</button></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/character/gearsets" target="_blank"><button type="button" class="btn btn-success btn-lg btn-block mb-2 mt-2 home-button">Gear Sets</button></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-7">
            <a class="nav-link" href="/newworld/character/taxes_and_bonuses" target="_blank"><button type="button" class="btn btn-danger btn-lg btn-block mb-2 mt-2 home-button">Taxes & Bonuses</button></a>
        </div>
    </div>
    
    <br>
</div>
{% endblock %}