{% extends "newworld/base.html" %} 

{% block head %}
<title>Gear Sets - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/gearsets.css') }}"/>
{% endblock %}

{% block content%}
<div class="gearsets container">
    <br>
    <h1 align="center" class="text-black" id="topHeader">Gear Sets</h1>
    <br>
    <div class="container col col-lg-8 col-sm-10 text-center">
        <p1>Select each armor piece you own to generate data for the <a href="/newworld/refining" target="#"><u>Refining Cost</u></a> and <a href="/newworld/material/orichalcum_ingot" target="#"><u>Refining Ingredients</u></a> tables.</p1><br>
        <p1>The data you enter will be saved to your browser for future visits.</p1>
    </div>

    <form hx-post="/newworld/gearsets_hx" hx-target="#gearsets_hx">
        <div class="container" id="gearsets_hx">
            {% include "newworld/gearsets_hx.html" %}
        </div>
    </form>
    <br>
    <br>
</div>
{% endblock %}