{% extends "newworld/base.html" %} 

{% block head %}
<title>Gear Sets - NewWorld Tools</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/gearsets.css') }}"/>
{% endblock %}

{% block content%}
<div class="gearsets container">
    <h1 align="center" class="text-black gearsets-h1" id="topHeader">Gear Sets</h1>
    
    <form hx-post="/newworld/gearsets_hx" hx-target="#gearsets_hx">
        <div class="container" id="gearsets_hx">
            {% include "newworld/gearsets_hx.html" %}
        </div>
    </form>
    <br></br>
    <br></br>
</div>
{% endblock %}