<nav class="navbar navbar-expand-lg fixed-top navbar-custom shadow-sm p-2" id="navtest">
    <a class="navbar-brand" href="/newworld" style="color:white;">New World Calculators</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Character
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link text-dark" href="/newworld/skills"><span class="nav_a">Trade Skills</span></a>
                    <a class="nav-link text-dark" href="/newworld/gearsets"><span class="nav_a">Gear Sets</span></a>
                    <a class="nav-link text-dark" href="/newworld/taxes_and_bonuses"><span class="nav_a">Taxes & Bonuses</span></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Server
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link text-dark" href="/newworld/user_prices">User Prices</a>
                    <a class="nav-link text-dark" href="/newworld/trading_post">Trading Post</a>
                    <a class="nav-link text-dark" href="/newworld/server_api">Server API</a>
                </div>
            </li>
            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link text-dark pr-3" href="/newworld/trade_skills_refining">Refining Skills</a>
                    <a class="nav-link text-dark pr-3" href="/newworld/refining">Refining Table</a>
                    <a class="nav-link text-dark pr-3" href="/newworld/crafting/trophy">Trophy Table</a>
                    <a class="nav-link text-dark pr-3" href="/newworld/market_calculator">Market Calculator</a>
                </div>
            </li>
            
            {% if 'server_data' in session %}
            <li class="nav-item active form-check-inline" id="api_toggle">
                {% include '/newworld/navbar_api_hx.html'%}
            </li>
            {% endif %}
        </ul>

        <br>
        
        <div class="nav-item active form-check-inline">
            <a href="https://discord.com/invite/ACnsS59ERb" target="#" class="btn btn-sm btn-outline-primary mr-2" role="button" style="color: white;">Contact</a>
        </div>
        
        <form class="form-inline my-2 my-lg-0" method="GET" id="search">
            <input required class="form-control mr-sm-2 datafield" type="text" name="search" aria-label="Search" list="materialList" autocomplete="off" onkeydown="return /[a-z]/i.test(event.key)" placeholder="Material Search..."
                hx-get="/newworld/datalist" 
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#materialList">
            
            <datalist id="materialList"></datalist>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        
    </div>
</nav>