<form _="on htmx:afterOnLoad if #refining_container fetch /newworld/refining_hx put the result into #refining_container
                            else if #material_container fetch /newworld/primary_material_hx/{{session['material_ref']}} put the result into #material_container">
{% if session['api_loaded'] %}
    <button hx-trigger="click" hx-post="/newworld/navbar_api_hx" hx-target='#api_toggle' type="button" class="btn btn-outline-success btn-sm" _="on click call me.blur()">{{session['server_data']['name']}} Active</button>
    <a href="/newworld/server_api"><p1 class="pl-2" style="color: rgb(175, 175, 175);">Updated: {{session['server_data']['last_update']}}</p1></a>
{% else %}
    <button hx-trigger="click" hx-post="/newworld/navbar_api_hx" hx-target='#api_toggle' type="button" class="btn btn-outline-secondary btn-sm" _="on click call me.blur()">Load {{session['server_data']['name']}}</button>
{% endif %}
</form>