<nav class="navbar navbar-expand-lg fixed-top navbar-custom shadow-sm p-2" id="navtest">
    <a class="navbar-brand" href="/newworld" style="color:white;">NewWorld Tools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Start Here
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link text-dark" href="/newworld/skills"><span class="nav_a">Skill Levels</span></a>
                    <a class="nav-link text-dark" href="/newworld/gearsets"><span class="nav_a">Gear Sets</span></a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/newworld/tradepost">Trade Post</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/newworld/refining">Refining</a>
            </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" id="search">
            <input class="form-control mr-sm-2 datafield" type="text" name="search" aria-label="Search" list="materialList" autocomplete="off" onkeydown="return /[a-z]/i.test(event.key)" placeholder="Material Search..."
                hx-get="/newworld/datalist" 
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#materialList" >
            
            <datalist id="materialList"></datalist>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        
    </div>
</nav>