{% extends "newworld/base.html" %} 

{% block head %}
<title>{{material}} - NW Calculators</title>
<link rel="stylesheet" href="{{ url_for('static', filename='newworld/css/material.css') }}"/>
{% endblock %}

{% block content%}
<br>
<h1 align="center" class="text-black" id="topHeader">{{material}}</h1>
<br>
<div class="container col col-lg-6 col-sm-10 text-center">
    <p1>This table shows the ingredients to create {{material}}.</p1><br>
    <p1>Rows are separate refining routes that each start at a different base tier. Market data is : <b>total</b> (<b>each</b>).</p1><br>
    <p1 ><b style="color:aqua;">Craft:</b> The estimated number to craft in order to receive the specified quantity. A (number) appears when the output is greater than the specified quantity after all bonuses.</p1><br>
    <p1 ><b style="color:orange;">Value:</b> The Trade Post value of the output quantity.</p1><br>
    <p1 ><b style="color:red;">Cost:</b> The purchase price of ingredients required to receive the quantity from refinement.</p1><br>
    <p1><b style="color:green;">Profit:</b> The Value minus the Cost of the output quantity.</p1><br>
</div>
<br>
<div class="container">
    <div class="active list-unstyled components">

        <form class="form-row justify-content-center">
            <div class="col-sm-auto col-md-5 col-lg-5 p-2 input-group">
                <input type="number" onkeydown="if(event.key==='.'){event.preventDefault();}" id="quant_field" class="form-control" min="1" max="2147483646" placeholder="1" value="{{quantity}}" name="update_quantity"
                    hx-get="/newworld/primary_material_hx/{{material}}" 
                    hx-trigger="keyup[key=='Enter'] from:body, keyup[key!='Enter'] changed delay:650ms" 
                    hx-target="#material_container" 
                    _="on keyup add .load to #values">
                <input type="text" style="display: none;"/>
            </div>
        </form>

        <div id="material_container" _="init fetch /newworld/primary_material_hx/{{session['material_ref']}} put the result into #material_container"><div>

    </div>
</div>
<br>
{% endblock %}