<div class="form-row justify-content-center mb-2">
    <div class="col-auto">
        <span class="mr-2"style="color:aqua;">Output</span><input disabled type="text" class="material-box" value={{output}}>
    </div>
    <div class="col-auto">
        <input disabled type="text" class="material-box" value={{'%.2f'|format(total_value)}}><span class="ml-2"style="color:orange;">Value</span>
    </div>
</div>
<table class="table table-striped table-secondary" id="ingredients"  _="on htmx:load call #quant_field.blur()">
    <thead>
        <tr>
            {% for key in data[0].keys() %}
                {% if key == "elemental_lodestone" %}
                <th scope="col" class="table-dark" style="width: {{(100 / (data[0]|length + 2))|round|int}}%">{{ key.title() | replace("_"," ") }}</th>
                {% else%}
                <th scope="col" class="table-dark" style="width: {{(100 / (data[0]|length + 2))|round|int}}%"><a href="/newworld/material/{{key}}">{{ key.title() | replace("_"," ") }}</th>
                {% endif %}
            {% endfor %}
                <th scope="col" class="table-dark" style="width: {{(100 / (data[0]|length + 2))|round|int}}%; color:red;">Cost</th>
                <th scope="col" class="table-dark" style="width: {{(100 / (data[0]|length + 2))|round|int}}%; color:green;">Profit</th>
        </tr>
    </thead>

    <tbody>
        {% for i in range(0, data|length) %}
        <tr id="values">
            {% for value in data[i].values() %}
            <td scope="row" class="align-middle">{{ value }}</td>
            {% endfor %}
            <td scope="row" class="align-middle">{{ '%.2f'|format(refine_costs[i][0]) }} ({{ '%.2f'|format(refine_costs[i][1]) }})</td>
            <td scope="row" class="align-middle">{{ '%.2f'|format(refine_costs[i][2]) }} ({{ '%.2f'|format(refine_costs[i][3]) }})</td>
        </tr>
        {% endfor %}
    </tbody>
</table>