{% extends "newworld/base.html" %} 

{% block head %}
<title>Refining - NW Calculators</title>
<link rel="stylesheet" href="{{ url_for('static', filename='newworld/css/refining.css') }}"/>
{% endblock %}

{% block content%}
<div class="container">
    <h1 align="center" class="text-black" id="topHeader">Refining Cost</h1>

    <div class="container col col-lg-8 col-sm-10 text-center">
        <p1>These tables show the cheapest way to <b>Buy</b> each <b>Target</b> material.</p1><br>
        <p1>The <b>Avg. Cost</b> includes purchasing all required components (eg Flux, Sandpaper) and secondary materials (eg Ironwood, Charcoal) to refine up to the Target material taking into account all bonuses.</p1><br>
        <p1><b>TP Flip</b> and <b>Margin</b> show the potential profit for selling the Target material back on the Trade Post. This does not account for taxes or fees.</p1><br>
    </div>

    <br>

    <div id="refining_container" _="init fetch /newworld/refining_hx put the result into #refining_container"></div>
</div>

<br>
<br>
{% endblock %}