{% extends "newworld/base.html" %} 

{% block head %}
<title>Server API - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/server_api.css') }}"/>
{% endblock %}

{% block content%}
<div class="container col-xl-5 col-lg-6 col-md-6">

    <br><br>
    <br><br>
    
    <div class="card bg-secondary border-warning">
        <div class="card-header button btn-outline-warning" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne">
            <h1>Server API</h1>
        </div>

        <div id="collapseOne" class="collapse">
            <div class="card-body bg-dark">
                <p1>Pricing data is sourced by <a href="https://nwmarketprices.com/" target="#"><u>NWMarketPrices</u></a> community members.</p1><br>
                <p1>Use the Load Server button to import their latest data.</p1><br>
                <p1>You can toggle this price list by using the Server button on the navigation bar to view alternate data on the tables under the Tools pages.</p1><br>
                <p1>Once loaded, you can view the server Trade Post prices below.</p1><br>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="row justify-content-around">
        <div class="col col-lg-6 col-sm-10 text-center">
            <form method="post">
                <select class="form-control" name="servers">
                    {% if 'server_data' in session %}
                    <option hidden disable value={{server_dict[session['server_data']['name']|lower]}}>{{session['server_data']['name']|title}}</option>
                    {%endif%}
                    {% for key, value in server_dict.items() %}
                    <option value={{value}}>{{key|title}}</option>
                    {% endfor %}
                </select>
            
                <div>
                    <button class="btn btn-outline-light loadMarket" type="submit" name="load_server">Load Server</button>
                </div>

            </form>
        </div>   
    </div>

    <br><br>
    
    {% if session['server_data'] %}
    <form hx-post="/newworld/server_api_hx" hx-target="#server_api_hx">
        <div class="container" id="server_api_hx">  
            {% include "newworld/server_api_hx.html" %}
        </div>
    </form> 

    <br><br>
    {% endif %}
</div>
{% endblock %}