{% extends "newworld/base.html" %} 

{% block head %}
<title>Server API - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/server_api.css') }}"/>
{% endblock %}

{% block content%}
<div class="container">
    <div class="row justify-content-around">
        <div class="col col-lg-6 col-sm-10 text-center">
            <br>
            <h1 align="center" class="text-black" id="topHeader"><a href="https://nwmarketprices.com/" target="#">Server API</a></h1>
            <br>
            <p1>Pricing data is sourced by <a href="https://nwmarketprices.com/" target="#"><u>NWMarketPrices</u></a> community members.</p1><br>
            <p1>Use the Load Server button to import their latest data.</p1><br>
            <p1>You can toggle this price list by using the Server button on the navigation bar to view alternate data on the <a href="/newworld/refining" target="#"><u>Refining Cost</u></a> tables.</p1><br>
            <p1>Once loaded, you can view the server Trade Post prices below.</p1><br>

            <br><br>

            <form method="post">
                <select class="form-control" name="servers">
                    {% for key, value in server_dict.items() %}
                    <option value={{value}}>{{key|title}}</option>
                    {% endfor %}
                </select>
            
            <div>
                <button class="btn btn-outline-light loadMarket" type="submit" name="load_server">Load Server</button>
            </div>

            <div>
                <button class="btn btn-outline-light loadMarket" type="submit" name="load_all">Load All</button>
            </div>

            </form>
        </div>   
    </div>
    <br>
    <br>
    {% if session['server_data'] %}
    <div class="row justify-content-around">
        <div class="col col-lg-10 col-auto text-center">
            <div>
                <button class="btn btn-outline-light custom_toggle" _="on click call me.blur() if my.innerText == 'Show All' remove .collapsed from #collapse set .collapse-main's @aria-expanded to 'true' add .show to .collapseall set my.innerText to 'Hide All' else add .collapsed to #collapse remove .show from .collapseall set .collapse-main's @aria-expanded to 'false' set my.innerText to 'Show All'">Show All</button>
            </div>

            <form hx-post="/newworld/server_api_hx" hx-target="#server_api_hx">
                <div class="container" id="server_api_hx">  
                    {% include "newworld/server_api_hx.html" %}
                </div>
            </form>
            
        </div>
    </div>
    <br>
    <br>
    {% endif %}
</div>
{% endblock %}