{% extends "newworld/base.html" %} 

{% block head %}
<title>Server API - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/server_api.css') }}"/>
{% endblock %}

{% block content%}
<div class="container col-xl-5 col-lg-6 col-md-6">

    <br><br>
    <br><br>
    
    <div class="card bg-secondary border-warning">
        <div class="card-header button btn-outline-warning" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne">
            <h1>Server API</h1>
        </div>

        <div id="collapseOne" class="collapse">
            <div class="card-body bg-dark">
                <p1>Pricing data is sourced by <a href="https://nwmarketprices.com/" target="#"><u>NWMarketPrices</u></a> community members.</p1><br>
                <p1>Select your server from the dropdown and select the Choose Server button.</p1><br>
                <p1>You can toggle between the API data and your User Prices by selecting the Server button on the top bar.</p1><br>
                <p1>You can override your User Prices with the server data by selecting the Copy All button.</p1><br>
                <p1>You can view your server's Prices below. You can also view a full Trading Post view by selecting the Trading Post button.</p1><br>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="row justify-content-around">
        <div class="col col-lg-6 col-sm-10 text-center">
            <form method="post">
                <select class="form-control" name="servers">
                    {% if 'server_api' in session %}
                    <option hidden disable value={{server_dict[session['server_api']['server_name']|lower]}}>{{session['server_api']['server_name']|title}}</option>
                    {%endif%}
                    {% for key, value in server_dict.items() %}
                    <option value={{value}}>{{key|title}}</option>
                    {% endfor %}
                </select>
                
                <div class="row justify-content-around">
                    <div>
                        <button class="btn btn-outline-light loadMarket" type="submit" name="load_server">Choose Server</button>
                    </div>

                    {% if copy_available %}
                    <div id="copy_server_div">
                        <button class="btn btn-outline-light loadMarket" type="submit" hx-post="/newworld/copy_server_data" hx-target="#copy_server_div" hx-confirm="This will override your User Prices with the data below"> Copy All</button>
                    </div>
                    {% endif %}
                </div>

                <div>
                    <a href="/newworld/trading_post"><span class="btn btn-outline-warning loadMarket">Trading Post</span></a>
                </div>

            </form>
        </div>   
    </div>

    <br><br>
    
    {% if copy_available %}
    <form hx-post="/newworld/server_api_hx" hx-target="#server_api_hx" _="init fetch /newworld/server_api_hx put the result into #server_api_hx">
        <div class="container" id="server_api_hx"></div>
    </form> 

    <br><br>
    {% endif %}
</div>
{% endblock %}