{% extends "newworld/base.html" %} 

{% block head %}
<title>Trade Skills - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/skills.css') }}"/>
{% endblock %}

{% block content %}
<div class="skillBoxes container">
    <br>
    <h1 align="center" class="text-black">Trade Skills</h1>
    <br>
    <div class="container col col-lg-8 col-sm-10 text-center">
        <p1>Enter your skill levels below to generate data for the <a href="/newworld/refining" target="#"><u>Refining Cost</u></a> and <a href="/newworld/material/orichalcum_ingot" target="#"><u>Refining Ingredients</u></a> tables.</p1><br>
        <p1>The data you enter will be saved to your browser for future visits.</p1>
    </div>

    <form hx-post="/newworld/skills_hx" hx-target="#skills_hx">
       <div id="skills_hx">
            {% include "newworld/skills_hx.html" %}
       </div>
       <div>
        <button id="saveSkillLevels" class="btn btn-outline-light saveSkillLevels" type="submit" name="save" _="on click call #saveSkillLevels.blur() add .btn-success remove .btn-outline-light then wait 0.75 seconds then add .btn-outline-light remove .btn-success">Save</button>
    </div>
    </form>
    <br>
    <br>
</div>
{% endblock %}