{% extends "newworld/base.html" %} 

{% block head %}
<title>Trade Post - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/tradepost.css') }}"/>
{% endblock %}

{% block content%}
<div class="container">
    <h1 align="center" class="text-black pb-4" id="topHeader">Trade Post Prices</h1>

    <div>
        <button class="btn btn-outline-light custom_toggle" _="on click call me.blur() if my.innerText == 'Show All' remove .collapsed from #collapse set .collapse-main's @aria-expanded to 'true' add .show to .collapseall set my.innerText to 'Hide All' else add .collapsed to #collapse remove .show from .collapseall set .collapse-main's @aria-expanded to 'false' set my.innerText to 'Show All'">Show All</button>
    </div>

    <form hx-post="/newworld/tradepost_hx" hx-target="#tradepost_hx">
        <div class="container" id="tradepost_hx">  
            {% include "newworld/tradepost_hx.html" %}
        </div>
    </form>
<div>

<br></br>
<br></br>
{% endblock %}