{% extends "newworld/base.html" %} 

{% block head %}
<title>Trade Post - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/tradepost.css') }}"/>
{% endblock %}

{% block content%}
<div class="container">
    <br><br>
    <br><br>
    <div class="card bg-secondary border-warning">
        <div class="card-header button btn-outline-warning" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne">
            <h1>Trade Post</h1>
        </div>

        <div id="collapseOne" class="collapse">
            <div class="card-body bg-dark">
                <p1>Enter the price of each item below to generate data for the <a href="/newworld/refining" target="#"><u>Refining Cost</u></a> tables.</p1><br>
                <p1>The data you enter will be saved to your browser for future visits.</p1>
            </div>
        </div>
    </div>

    <br><br>

    <div>
        <button class="btn btn-outline-light custom_toggle" _="on click call me.blur() if my.innerText == 'Show All' remove .collapsed from #collapse set .collapse-main's @aria-expanded to 'true' add .show to .collapseall set my.innerText to 'Hide All' else add .collapsed to #collapse remove .show from .collapseall set .collapse-main's @aria-expanded to 'false' set my.innerText to 'Show All'">Show All</button>
    </div>

    <form hx-post="/newworld/tradepost_hx" hx-target="#tradepost_hx">
        <div class="container" id="tradepost_hx">  
            {% include "newworld/tradepost_hx.html" %}
        </div>
    </form>
<div>

<br>
<br>
{% endblock %}