{% extends "newworld/base.html" %} 

{% block head %}
<title>Trade Post - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/tradepost.css') }}"/>
{% endblock %}

{% block content%}
<div class="container col-xl-5 col-lg-6 col-md-6">
    <br><br>
    <br><br>
    <div class="card bg-secondary border-warning">
        <div class="card-header button btn-outline-warning" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne">
            <h1>Trade Post</h1>
        </div>

        <div id="collapseOne" class="collapse">
            <div class="card-body bg-dark">
                <p1>Enter the price of each item below to generate data for the <a href="/newworld/refining" target="#"><u>Refining Cost</u></a> tables.</p1><br>
                <p1>The data you enter will be saved to your browser for future visits.</p1>
            </div>
        </div>
    </div>

    <br><br>
</div>

<div class="container tradePrices">
    <form hx-post="/newworld/tradepost_hx" hx-target="#tradepost_hx">
        <div id="tradepost_hx">  
            {% include "newworld/tradepost_hx.html" %}
        </div>

        <div>
            <button class="btn btn-outline-light savePrices" id='savePrices' type="submit" name="save" _="on click call #savePrices.blur() set .custom_toggle.innerText to 'Show All' add .btn-warning remove .btn-outline-light then wait 0.3 seconds then add .btn-outline-light remove .btn-warning">Save</button>
        </div>
    </form>
<div>

<br>
<br>
{% endblock %}