.nav-link {
  text-align: left;
}

.navbar-custom {
  background-color: rgb(17, 20, 20);
}

.navbar-toggler {
  background-color:white !important;
}

span.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: rgb(0, 0, 0);
}


h2 {
  padding-top: 2rem;
}

h1 {
  margin-bottom: -2rem;
}

#topHeader {
  margin-top: 2rem;
}

input {
  min-width: 135px;
  
}

.skillLevel{
  text-align: center; 
}

label {
  margin-top: 4px;
  margin-bottom: 0px;
}

#skillBoxes{
  text-align: center;
}

.saveSkillLevels {
  margin-top: 2rem;
  min-width: 150px;
}

html {
  overflow-y: scroll;
}


.alert {
  margin-top: 4rem;
}

.datafield::-webkit-calendar-picker-indicator {
  display:none !important;
}

html {
  background-color: rgb(28, 28, 28);
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}