html, body {
  background-color: rgb(30, 30, 32);
}

html {
  overflow-y: scroll;
}

.nav-link {
  text-align: left;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.navbar-custom {
  background-color: rgb(17, 20, 20);
}

.navbar-toggler {
  background-color:white !important;
}

span.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: rgb(0, 0, 0);
}

.datafield::-webkit-calendar-picker-indicator {
  display:none !important;
}

.text-dark:hover {
  background-color: rgb(206, 206, 206);
}

.alert {
  margin-top: 4rem;
}

#listspace {
  margin-top: 1.25rem;
  width: 100%;
  text-align: center;
}
  
.collapse-main {
  margin-top: 0.25rem;
  width: 100%;
  color: white;
}

.skillLevel {
  margin-top: 2px;
}

.header {
  font-weight: bold;
  color: white;
}

.noHover{
  pointer-events: none;
}

h1 {
  margin-top: 4rem;
  color: white;
}

tr {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.htmx-settling tr.load td {
  background: rgb(145, 173, 187);
}
tr td {
  transition: all 0.75s;
}

#quant_field {
  text-align: center;
}