html, body {
  background-color: rgb(30, 30, 32);
  background-image: url('/static/newworld/images/icons/tradepost/tradedetailbg.png');
  background-size: cover;
}
html {
  overflow-y: scroll;
}

.nav-link {
  text-align: left;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.navbar-custom {
  background-color: rgb(17, 20, 20);
}

.navbar-toggler {
  background-color:white !important;
}

span.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: rgb(0, 0, 0);
}

.datafield::-webkit-calendar-picker-indicator {
  display:none !important;
}

.text-dark:hover {
  background-color: rgb(206, 206, 206);
}

.alert {
  margin-top: 4rem;
}

p1 {
  color: white;
}
h4 {
  margin-top: 2rem;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

#topHeader {
  margin-top: 2rem;
}

.skillLevel {
  min-width: 135px;
}

.skillLevel{
  text-align: center; 
}

label {
  margin-top: 4px;
  margin-bottom: 0px;
  color: white;
}

.skillBoxes{
  text-align: center;
}

.saveSkillLevels {
  margin-top: 2rem;
  min-width: 150px;
  transition: all 0.35s;
}