{% extends "newworld/base.html" %} 

{% block head %}
<title>Gear Sets - NW Calculators</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='newworld/css/gearsets.css') }}"/>
{% endblock %}

{% block content%}

<div class="container gearsets col-xl-5 col-lg-6 col-md-6">
    <br><br>
    <br><br>
    <div class="card bg-secondary border-info">
        <div class="card-header button btn-outline-info" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne">
            <h1>Gear Sets</h1>
        </div>

        <div id="collapseOne" class="collapse">
            <div class="card-body bg-dark">
                <p1>Select each armor piece you own to generate data for the <a href="/newworld/table/refining" target="_blank"><u>Refining Cost</u></a> and <a href="/newworld/material/orichalcum_ingot" target="_blank"><u>Refining Ingredients</u></a> tables.</p1><br>
                <p1>The data you enter will be saved to your browser for future visits.</p1>
            </div>
        </div>
    </div>
</div>

<div class="container gearsets">
    <form hx-post="/newworld/character/gearsets_hx" hx-target="#gearsets_hx">
        <div class="container" id="gearsets_hx">
            {% include "newworld/character/gearsets_hx.html" %}
        </div>

        <div>
            <button id="saveGearsets" class="btn btn-outline-light saveGearsets" type="submit" name="save" _="on click call #saveGearsets.blur() add .btn-success remove .btn-outline-light then wait 0.75 seconds then add .btn-outline-light remove .btn-success">Save</button>
        </div>
    </form>
    <br>
    <br>
</div>
{% endblock %}