<div class="tab-pane allToggled" id="Ammunition" role="tabpanel" aria-labelledby="Ammunition">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Ammunition</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="iron" value="AmmoIron" data-toggle="tab" data-target="#ironFamily" type="button" role="tab" aria-controls="ironFamily" aria-selected="false"  _="on click remove .active from #backToAmmunition1
            ">Iron</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="steel" value="AmmoSteel" data-toggle="tab" data-target="#steelFamily" type="button" role="tab" aria-controls="steelFamily" aria-selected="false"  _="on click remove .active from #backToAmmunition2
            ">Steel</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="starmetal" value="AmmoStarmetal" data-toggle="tab" data-target="#starmetalFamily" type="button" role="tab" aria-controls="starmetalFamily" aria-selected="false" _="on click remove .active from #backToAmmunition3
            ">Starmetal</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="orichalcum" value="AmmoOrichalcum" data-toggle="tab" data-target="#orichalcumFamily" type="button" role="tab" aria-controls="orichalcumFamily" aria-selected="false" _="on click remove .active from #backToAmmunition4
            ">Orichalcum</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="ironFamily" role="tabpanel" aria-labelledby="ironFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Iron Ammo</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToAmmunition1" value="Ammo" data-toggle="tab" data-target="#Ammunition" type="button" role="tab" aria-controls="backToAmmunition1" aria-selected="false"  _="on click remove .active from #iron">Back</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="steelFamily" role="tabpanel" aria-labelledby="steelFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Steel Ammo</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToAmmunition2" value="Ammo" data-toggle="tab" data-target="#Ammunition" type="button" role="tab" aria-controls="backToAmmunition2" aria-selected="false"  _="on click remove .active from #steel">Back</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="starmetalFamily" role="tabpanel" aria-labelledby="starmetalFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Starmetal Ammo</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToAmmunition3" value="Ammo" data-toggle="tab" data-target="#Ammunition" type="button" role="tab" aria-controls="backToAmmunition3" aria-selected="false"  _="on click remove .active from #starmetal">Back</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="orichalcumFamily" role="tabpanel" aria-labelledby="orichalcumFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Orichalcum Ammo</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToAmmunition4" value="Ammo" data-toggle="tab" data-target="#Ammunition" type="button" role="tab" aria-controls="backToAmmunition4" aria-selected="false"  _="on click remove .active from #orichalcum">Back</button>
        </li>
    </ul>
</div>