<div class="tab-pane allToggled" id="Apparel" role="tabpanel" aria-labelledby="Apparel">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Apparel</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="heavy" data-toggle="tab" data-target="#heavyFamily" type="button" role="tab" aria-controls="heavyFamily" aria-selected="false"  _="on click call me.blur() remove .active from #backToApparel1">Heavy</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="medium" data-toggle="tab" data-target="#mediumFamily" type="button" role="tab" aria-controls="mediumFamily" aria-selected="false"  _="on click call me.blur() remove .active from #backToApparel2">Medium</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="light" data-toggle="tab" data-target="#lightFamily" type="button" role="tab" aria-controls="lightFamily" aria-selected="false" _="on click call me.blur() remove .active from #backToApparel3">Light</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="earrings" data-toggle="tab" data-target="#earringsFamily" type="button" role="tab" aria-controls="earringsFamily" aria-selected="false" _="on click call me.blur() remove .active from #backToApparel4">Earrings</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="amulets" data-toggle="tab" data-target="#amuletsFamily" type="button" role="tab" aria-controls="amuletsFamily" aria-selected="false" _="on click call me.blur() remove .active from #backToApparel5">Amulets</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="rings" data-toggle="tab" data-target="#ringsFamily" type="button" role="tab" aria-controls="ringsFamily" aria-selected="false" _="on click call me.blur() remove .active from #backToApparel6">Rings</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="bags" data-toggle="tab" data-target="#bagsFamily" type="button" role="tab" aria-controls="bagsFamily" aria-selected="false" _="on click call me.blur() remove .active from #backToApparel7">Bags</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="heavyFamily" role="tabpanel" aria-labelledby="heavyFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Heavy</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToApparel1" data-toggle="tab" data-target="#Apparel" type="button" role="tab" aria-controls="backToApparel1" aria-selected="false"  _="on click call me.blur() remove .active from #heavy">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hHeadGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Head</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hChestGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Chest</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hHandGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Hand</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hLegGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Leg</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hFootGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Foot</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="mediumFamily" role="tabpanel" aria-labelledby="mediumFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Heavy</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToApparel2" data-toggle="tab" data-target="#Apparel" type="button" role="tab" aria-controls="backToApparel2" aria-selected="false"  _="on click call me.blur() remove .active from #medium">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="mHeadGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Head</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="mChestGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Chest</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="mHandGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Hand</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="mLegGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Leg</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="mFootGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Foot</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="lightFamily" role="tabpanel" aria-labelledby="lightFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Light</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToApparel3" data-toggle="tab" data-target="#Apparel" type="button" role="tab" aria-controls="backToApparel3" aria-selected="false"  _="on click call me.blur() remove .active from #light">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lHeadGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Head</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lChestGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Chest</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lHandGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Hand</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lLegGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Leg</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lFootGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Foot</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="earringsFamily" role="tabpanel" aria-labelledby="earringsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Earrings</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToApparel4" data-toggle="tab" data-target="#Apparel" type="button" role="tab" aria-controls="backToApparel4" aria-selected="false"  _="on click call me.blur() remove .active from #earrings">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="eCraftedGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Crafted</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="eDroppedGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Dropped</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="amuletsFamily" role="tabpanel" aria-labelledby="amuletsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Amulets</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToApparel5" data-toggle="tab" data-target="#Apparel" type="button" role="tab" aria-controls="backToApparel5" aria-selected="false"  _="on click call me.blur() remove .active from #amulets">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="aCraftedGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Crafted</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="aDroppedGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Dropped</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="ringsFamily" role="tabpanel" aria-labelledby="ringsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Rings</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToApparel6" data-toggle="tab" data-target="#Apparel" type="button" role="tab" aria-controls="backToApparel6" aria-selected="false"  _="on click call me.blur() remove .active from #rings">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="rCraftedGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Crafted</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="rDroppedGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Dropped</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="bagsFamily" role="tabpanel" aria-labelledby="bagsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Bags</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToApparel7" data-toggle="tab" data-target="#Apparel" type="button" role="tab" aria-controls="backToApparel7" aria-selected="false"  _="on click call me.blur() remove .active from #bags">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="satchelGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Adventurer's Satchel</button>
        </li>
    </ul>
</div>