<div class="tab-pane allToggled" id="Consumables" role="tabpanel" aria-labelledby="Consumables">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Consumables</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="potions" value="Potion" data-toggle="tab" data-target="#potionsFamily" type="button" role="tab" aria-controls="potionsFamily" aria-selected="false"  _="on click remove .active from #backToConsumables1">Potions</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="tinctures" value="Tincture" data-toggle="tab" data-target="#tincturesFamily" type="button" role="tab" aria-controls="tincturesFamily" aria-selected="false"  _="on click remove .active from #backToConsumables2">Tinctures</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="coatings" value="Coating" data-toggle="tab" data-target="#coatingsFamily" type="button" role="tab" aria-controls="coatingsFamily" aria-selected="false" _="on click remove .active from #backToConsumables3">Coatings</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="enhancements" value="Enhancements" data-toggle="tab" data-target="#enhancementsFamily" type="button" role="tab" aria-controls="enhancementsFamily" aria-selected="false" _="on click remove .active from #backToConsumables4">Enhancements</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="attributeFoods" value="FoodAttribute" data-toggle="tab" data-target="#attributeFoodsFamily" type="button" role="tab" aria-controls="attributeFoodsFamily" aria-selected="false" _="on click remove .active from #backToConsumables5">Attribute Foods</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="tradeSkillFoods" value="FoodTradeskill" data-toggle="tab" data-target="#tradeSkillFoodsFamily" type="button" role="tab" aria-controls="tradeSkillFoodsFamily" aria-selected="false" _="on click remove .active from #backToConsumables6">Trade Skill Foods</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="recoveryFoods" value="FoodRecovery" data-toggle="tab" data-target="#recoveryFoodsFamily" type="button" role="tab" aria-controls="recoveryFoodsFamily" aria-selected="false" _="on click remove .active from #backToConsumables7">Recovery Foods</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="eventConsumables" value="EventConsumables" data-toggle="tab" data-target="#eventConsumablesFamily" type="button" role="tab" aria-controls="eventConsumablesFamily" aria-selected="false" _="on click remove .active from #backToConsumables8">Event Consumables</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="bait" value="Bait" data-toggle="tab" data-target="#baitFamily" type="button" role="tab" aria-controls="baitFamily" aria-selected="false" _="on click remove .active from #backToConsumables9">Bait</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="kits"  value="repairKits" data-toggle="tab" data-target="#kitsFamily" type="button" role="tab" aria-controls="kitsFamily" aria-selected="false" _="on click remove .active from #backToConsumables10">Kits</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="dyes" value="Dyes" data-toggle="tab" data-target="#dyesFamily" type="button" role="tab" aria-controls="dyesFamily" aria-selected="false" _="on click remove .active from #backToConsumables11">Dyes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="cookingRecipes" value="CookingRecipes" data-toggle="tab" data-target="#cookingRecipesFamily" type="button" role="tab" aria-controls="cookingRecipesFamily" aria-selected="false" _="on click remove .active from #backToConsumables12">Cooking Recipes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="musicSheets" value="musicSheets" data-toggle="tab" data-target="#musicSheetsFamily" type="button" role="tab" aria-controls="musicSheetsFamily" aria-selected="false" _="on click remove .active from #backToConsumables13">Music Sheets</button>
        </li>

    </ul>
</div>

<div class="tab-pane allToggled" id="potionsFamily" role="tabpanel" aria-labelledby="potionsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Potions</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables1" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables1" aria-selected="false"  _="on click remove .active from #potions">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="healingGroup" value="PotionHealth" type="button" role="tab" aria-selected="false">Healing</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="manaGroup" value="PotionMana" type="button" role="tab" aria-selected="false">Mana</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="focusGroup" value="PotionFocus" type="button" role="tab" aria-selected="false">Focus</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="defenseGroup" value="PotionElemDefense" type="button" role="tab" aria-selected="false">Defense</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="encumbranceGroup" value="PotionEncumbrance" type="button" role="tab" aria-selected="false">Encumbrance</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="tincturesFamily" role="tabpanel" aria-labelledby="tincturesFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Tinctures</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables2" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables2" aria-selected="false"  _="on click remove .active from #tinctures">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="corruptionGroup" value="PotionPurifyB" type="button" role="tab" aria-selected="false">Corruption</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="blightGroup" value="PotionWellness" type="button" role="tab" aria-selected="false">Blight</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="coatingsFamily" role="tabpanel" aria-labelledby="coatingsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Coatings</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables3" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables3" aria-selected="false"  _="on click remove .active from #coatings">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lostGroup" value="CoatingLost" type="button" role="tab" aria-selected="false">Lost</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="angryEarthGroup" value="CoatingAngryEarth" type="button" role="tab" aria-selected="false">Angry Earth</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="corruptedGroup" value="CoatingCorrupted" type="button" role="tab" aria-selected="false">Corrupted</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="ancientGroup" value="CoatingAncient" type="button" role="tab" aria-selected="false">Ancient</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="beastGroup" value="CoatingBeast" type="button" role="tab" aria-selected="false">Beast</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="enhancementsFamily" role="tabpanel" aria-labelledby="enhancementsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Enhancements</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables4" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables4" aria-selected="false"  _="on click remove .active from #enhancements">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="consumablesGroup" value="CraftingConsumables" type="button" role="tab" aria-selected="false">Consumables</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="attributeFoodsFamily" role="tabpanel" aria-labelledby="attributeFoodsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Attribute Foods</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables5" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables5" aria-selected="false"  _="on click remove .active from #attributeFoods">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="strengthGroup" value="FoodSTR" type="button" role="tab" aria-selected="false">Strength</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="constitutionGroup" value="FoodCON" type="button" role="tab" aria-selected="false">Constitution</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="intelligenceGroup" value="FoodINT" type="button" role="tab" aria-selected="false">Intelligence</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="dexterityGroup" value="FoodDEX" type="button" role="tab" aria-selected="false">Dexterity</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="focusGroup" value="FoodFOC" type="button" role="tab" aria-selected="false">Focus</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="tradeSkillFoodsFamily" role="tabpanel" aria-labelledby="tradeSkillFoodsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Trade Skill Foods</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables6" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables6" aria-selected="false"  _="on click remove .active from #tradeSkillFoods">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="arcanaGroup" value="FoodArcanist" type="button" role="tab" aria-selected="false">Arcana</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="harvestingGroup" value="FoodHarvester" type="button" role="tab" aria-selected="false">Harvesting</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="loggingGroup" value="FoodLumberjack" type="button" role="tab" aria-selected="false">Logging</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="jewelcraftingGroup" value="FoodJewelcrafter" type="button" role="tab" aria-selected="false">Jewelcrafting</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="armoringGroup" value="FoodArmorer" type="button" role="tab" aria-selected="false">Armoring</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="weaponsmithingGroup" value="FoodWeaponsmith" type="button" role="tab" aria-selected="false">Weaponsmithing</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="skinningGroup" value="FoodHunter" type="button" role="tab" aria-selected="false">Skinning</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="miningGroup" value="FoodMiner" type="button" role="tab" aria-selected="false">Mining</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="engineeringGroup" value="FoodEngineer" type="button" role="tab" aria-selected="false">Engineering</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="recoveryFoodsFamily" role="tabpanel" aria-labelledby="recoveryFoodsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Recovery Foods</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables7" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables7" aria-selected="false"  _="on click remove .active from #recoveryFoods">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="healthRecoveryGroup" value="FoodHealthRecovery" type="button" role="tab" aria-selected="false">Health Recovery</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="manaRecoveryGroup" value="FoodMana" type="button" role="tab" aria-selected="false">Mana Recovery</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="eventConsumablesFamily" role="tabpanel" aria-labelledby="eventConsumablesFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Event Consumables</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables8" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables8" aria-selected="false"  _="on click remove .active from #eventConsumables">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="attributeBonusGroup" value="FoodAttribute" type="button" role="tab" aria-selected="false">Attribute Bonus</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="luckBonusGroup" value="FoodLuck" type="button" role="tab" aria-selected="false">Luck Consumables</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="baitFamily" role="tabpanel" aria-labelledby="baitFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Bait</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables9" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables9" aria-selected="false"  _="on click remove .active from #bait">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="freshwaterGroup" value="BaitFresh" type="button" role="tab" aria-selected="false">Freshwater</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="saltwaterGroup" value="BaitSalt" type="button" role="tab" aria-selected="false">Saltwater</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="kitsFamily" role="tabpanel" aria-labelledby="kitsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Kits</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables10" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables10" aria-selected="false"  _="on click remove .active from #kits">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="repairKitsGroup" value="repairKits" type="button" role="tab" aria-selected="false">Repair Kits</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="dyesFamily" role="tabpanel" aria-labelledby="dyesFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Dyes</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables11" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables11" aria-selected="false"  _="on click remove .active from #dyes">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="redGroup" value="DyeRed" type="button" role="tab" aria-selected="false">Red</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="brownGroup" value="DyeBrown" type="button" role="tab" aria-selected="false">Brown</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="orangeGroup" value="DyeOrange" type="button" role="tab" aria-selected="false">Orange</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="yellowGroup" value="DyeYellow" type="button" role="tab" aria-selected="false">Yellow</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="greenGroup" value="DyeGreen" type="button" role="tab" aria-selected="false">Green</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="turquoiseGroup" value="DyeTurquoise" type="button" role="tab" aria-selected="false">Turquoise</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="cyanGroup" value="DyeCyan" type="button" role="tab" aria-selected="false">Cyan</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="blueGroup" value="DyeBlue" type="button" role="tab" aria-selected="false">Blue</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="purpleGroup" value="DyePurple" type="button" role="tab" aria-selected="false">Purple</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="magentaGroup" value="DyeMagenta" type="button" role="tab" aria-selected="false">Magenta</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="grayGroup" value="DyeGray" type="button" role="tab" aria-selected="false">Gray</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="cookingRecipesFamily" role="tabpanel" aria-labelledby="cookingRecipesFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Cooking Recipes</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables12" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables12" aria-selected="false"  _="on click remove .active from #cookingRecipes">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="recipesGroup" value="Recipes" type="button" role="tab" aria-selected="false">Recipes</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="musicSheetsFamily" role="tabpanel" aria-labelledby="musicSheetsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Music Sheets</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToConsumables13" value="Utilities" data-toggle="tab" data-target="#Consumables" type="button" role="tab" aria-controls="backToConsumables13" aria-selected="false"  _="on click remove .active from #musicSheets">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="uprightBassGroup" value="sheetsUrbass" type="button" role="tab" aria-selected="false">Upright Bass</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="drumsGroup" value="sheetsDrums" type="button" role="tab" aria-selected="false">Drums</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="azothFluteGroup" value="sheetsFlute" type="button" role="tab" aria-selected="false">Azoth Flute</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="guitarGroup" value="sheetsGuitar" type="button" role="tab" aria-selected="false">Guitar</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="mandolinGroup" value="sheetsMandolin" type="button" role="tab" aria-selected="false">Mandolin</button>
        </li>
    </ul>
</div>