<div class="tab-pane allToggled" id="House" role="tabpanel" aria-labelledby="House">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>House</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="miscellaneous" value="houseMisc" data-toggle="tab" data-target="#miscellaneousFamily" type="button" role="tab" aria-controls="miscellaneousFamily" aria-selected="false"  _="on click remove .active from #backToHouse1">Miscellaneous</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="decorations" value="houseDecorations" data-toggle="tab" data-target="#decorationsFamily" type="button" role="tab" aria-controls="decorationsFamily" aria-selected="false"  _="on click remove .active from #backToHouse2">Decorations</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="schematics" value="SchematicsFurnishing" data-toggle="tab" data-target="#schematicsFamily" type="button" role="tab" aria-controls="schematicsFamily" aria-selected="false" _="on click remove .active from #backToHouse3">Schematics</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="furniture" value="houseFurniture" data-toggle="tab" data-target="#furnitureFamily" type="button" role="tab" aria-controls="furnitureFamily" aria-selected="false" _="on click remove .active from #backToHouse4">Furniture</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="trophies" value="houseTrophy" data-toggle="tab" data-target="#trophiesFamily" type="button" role="tab" aria-controls="trophiesFamily" aria-selected="false" _="on click remove .active from #backToHouse5">Trophies</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="miscellaneousFamily" role="tabpanel" aria-labelledby="miscellaneousFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Miscellaneous</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToHouse1" data-toggle="tab" data-target="#House" type="button" role="tab" aria-controls="backToHouse1" aria-selected="false"  _="on click remove .active from #miscellaneous">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="otherGroup" value="decorMisc" type="button" role="tab" aria-selected="false">Other</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="storageChestsGroup" value="decorStorage" type="button" role="tab" aria-selected="false">Storage Chests</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="vegetationGroup" value="decorVegetation" type="button" role="tab" aria-selected="false">Vegetation</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="animalsGroup" value="decorAnimals" type="button" role="tab" aria-selected="false">Animals</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="decorationsFamily" role="tabpanel" aria-labelledby="decorationsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Decorations</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToHouse2" data-toggle="tab" data-target="#House" type="button" role="tab" aria-controls="backToHouse2" aria-selected="false"  _="on click remove .active from #decorations">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lightingGroup" value="decorLighting" type="button" role="tab" aria-selected="false">Lighting</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="paintingsGroup" value="decorPaintings" type="button" role="tab" aria-selected="false">Paintings</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="curtainsGroup" value="decorCurtains" type="button" role="tab" aria-selected="false">Curtains</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="decorationsGroup" value="decorOther" type="button" role="tab" aria-selected="false">Other Decor</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="booksAndPaperGroup" value="decorBooksPapers" type="button" role="tab" aria-selected="false">Books and Paper</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="dishesGroup" value="decorDishes" type="button" role="tab" aria-selected="false">Dishes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="rugsGroup" value="decorRugs" type="button" role="tab" aria-selected="false">Rugs</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="schematicsFamily" role="tabpanel" aria-labelledby="schematicsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Schematics</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToHouse3" data-toggle="tab" data-target="#House" type="button" role="tab" aria-controls="backToHouse3" aria-selected="false"  _="on click remove .active from #schematics">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="schematicsGroup" type="button" role="tab" aria-selected="false">Schematics</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="furnitureFamily" role="tabpanel" aria-labelledby="furnitureFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Furniture</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToHouse4" data-toggle="tab" data-target="#House" type="button" role="tab" aria-controls="backToHouse4" aria-selected="false"  _="on click remove .active from #furniture">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="tablesGroup" value="decorTables" type="button" role="tab" aria-selected="false">Tables</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="chairsGroup" value="decorChairs" type="button" role="tab" aria-selected="false">Chairs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="stovesGroup" value="decorStoves" type="button" role="tab" aria-selected="false">Stoves</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="shelvesGroup" value="decorShelves" type="button" role="tab" aria-selected="false">Shelves</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="bedsGroup" value="decorBeds" type="button" role="tab" aria-selected="false">Beds</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="cabinetsGroup" value="decorCabinets" type="button" role="tab" aria-selected="false">Cabinets</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="trophiesFamily" role="tabpanel" aria-labelledby="trophiesFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Trophies</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToHouse5" data-toggle="tab" data-target="#House" type="button" role="tab" aria-controls="backToHouse5" aria-selected="false"  _="on click remove .active from #trophies">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hHeadGroup" value="combatBuffs" type="button" role="tab" aria-selected="false">Combat Buffs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hChestGroup" value="craftingBuffs" type="button" role="tab" aria-selected="false">Crafting Buffs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hHandGroup" value="otherBuffs" type="button" role="tab" aria-selected="false">Other Buffs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hLegGroup" value="gatheringBuffs" type="button" role="tab" aria-selected="false">Gathering Buffs</button>
        </li>
    </ul>
</div>