<div class="tab-pane allToggled" id="Resources" role="tabpanel" aria-labelledby="Resources">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Resources</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="raw" value="RawResources" data-toggle="tab" data-target="#rawFamily" type="button" role="tab" aria-controls="rawFamily" aria-selected="false"  _="on click remove .active from #backToResources1">Raw Resources</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="arcana" value="ArcanaResources" data-toggle="tab" data-target="#arcanaFamily" type="button" role="tab" aria-controls="arcanaFamily" aria-selected="false"  _="on click remove .active from #backToResources2">Arcana</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="potionReagents" value="AlchemyResources" data-toggle="tab" data-target="#potionReagentsFamily" type="button" role="tab" aria-controls="potionReagentsFamily" aria-selected="false" _="on click remove .active from #backToResources3">Potion Reagents</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="cooking" value="CookingIngredients" data-toggle="tab" data-target="#cookingFamily" type="button" role="tab" aria-controls="cookingFamily" aria-selected="false" _="on click remove .active from #backToResources4">Cooking Ingredients</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="dye" value="DyeIngredients" data-toggle="tab" data-target="#dyeFamily" type="button" role="tab" aria-controls="dyeFamily" aria-selected="false" _="on click remove .active from #backToResources5">Dye</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="refined" value="RefinedResources" data-toggle="tab" data-target="#refinedFamily" type="button" role="tab" aria-controls="refinedFamily" aria-selected="false" _="on click remove .active from #backToResources6">Refined Resources</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="components" value="Components" data-toggle="tab" data-target="#componentsFamily" type="button" role="tab" aria-controls="componentsFamily" aria-selected="false" _="on click remove .active from #backToResources7">Components</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="craftMods" value="SpecialResources" data-toggle="tab" data-target="#craftModsFamily" type="button" role="tab" aria-controls="craftModsFamily" aria-selected="false" _="on click remove .active from #backToResources8">Craft Mods</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="azoth" value="Suspended Azoth" data-toggle="tab" data-target="#azothFamily" type="button" role="tab" aria-controls="azothFamily" aria-selected="false" _="on click remove .active from #backToResources9">Azoth</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="runeglassComponents" value="RuneglassFamily" data-toggle="tab" data-target="#runeglassComponentsFamily" type="button" role="tab" aria-controls="runeglassComponentsFamily" aria-selected="false" _="on click remove .active from #backToResources10">Runeglass Components</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="rawFamily" role="tabpanel" aria-labelledby="rawFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Raw Resources</span>
        </li>
        <div class="customScroll familyScroll">
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="backToResources1" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources1" aria-selected="false"  _="on click remove .active from #raw">Back</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="woodsGroup" value="rawWood" type="button" role="tab" aria-selected="false">Woods</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="fibersGroup" value="rawFiber" type="button" role="tab" aria-selected="false">Fibers</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="clothGroup" value="rawCloth" type="button" role="tab" aria-selected="false">Cloth</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="stonesGroup" value="rawStone" type="button" role="tab" aria-selected="false">Stones</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="flintsGroup" value="rawFlint" type="button" role="tab" aria-selected="false">Flints</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="oresGroup" value="rawOre" type="button" role="tab" aria-selected="false">Ores</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="preciousOresGroup" value="OrePrecious" type="button" role="tab" aria-selected="false">Precious Ores</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="rawGemstonesGroup" value="RawGem" type="button" role="tab" aria-selected="false">Raw Gemstones</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="oilGroup" value="rawOil" type="button" role="tab" aria-selected="false">Oil</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="rawhidesGroup" value="Rawhide" type="button" role="tab" aria-selected="false">Rawhides</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="feathersGroup" value="Feather" type="button" role="tab" aria-selected="false">Feathers</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="beeswaxGroup" value="Beeswax" type="button" role="tab" aria-selected="false">Beeswax</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="fishingSalvageGroup" value="FishingSalvage" type="button" role="tab" aria-selected="false">Fishing Salvage</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="craftingComponentsGroup" value="CraftingComponents" type="button" role="tab" aria-selected="false">Crafting Components</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="salvageScrapsGroup" value="perfectSalvage" type="button" role="tab" aria-selected="false">Salvage Scraps</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="craftingPatternsGroup" value="CraftingPatterns" type="button" role="tab" aria-selected="false">Crafting Patterns</button>
            </li>
        </div>
    </ul>
</div>

<div class="tab-pane allToggled" id="arcanaFamily" role="tabpanel" aria-labelledby="arcanaFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Arcana</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToResources2" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources2" aria-selected="false"  _="on click remove .active from #arcana">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lifeGroup" value="ArcanaLife" type="button" role="tab" aria-selected="false">Life</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="deathGroup" value="ArcanaDeath" type="button" role="tab" aria-selected="false">Death</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="soulGroup" value="ArcanaSpirit" type="button" role="tab" aria-selected="false">Soul</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="fireGroup" value="ArcanaFire" type="button" role="tab" aria-selected="false">Fire</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="earthGroup" value="ArcanaEarth" type="button" role="tab" aria-selected="false">Earth</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="airGroup" value="ArcanaAir" type="button" role="tab" aria-selected="false">Air</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="waterGroup" value="ArcanaWater" type="button" role="tab" aria-selected="false">Water</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="potionReagentsFamily" role="tabpanel" aria-labelledby="potionReagentsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Potion Reagents</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToResources3" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources3" aria-selected="false"  _="on click remove .active from #potionReagents">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="magicalGroup" value="AlchemyMagical" type="button" role="tab" aria-selected="false">Magical</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="offensiveGroup" value="AlchemyOffensive" type="button" role="tab" aria-selected="false">Offensive</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="protectiveGroup" value="AlchemyProtective" type="button" role="tab" aria-selected="false">Protective</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="medicinalGroup" value="AlchemyMedicinal" type="button" role="tab" aria-selected="false">Medicinal</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="cookingFamily" role="tabpanel" aria-labelledby="cookingFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Cooking Ingredients</span>
        </li>
        <div style="overflow-y: scroll; overflow-x: hidden; max-height: 541px; width:200px">
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="backToResources4" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources4" aria-selected="false"  _="on click remove .active from #cooking">Back</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="meatsGroup" value="cookingMeat" type="button" role="tab" aria-selected="false">Meats</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="largeFishGroup" value="FishLarge" type="button" role="tab" aria-selected="false">Large Fish</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="mediumFishGroup" value="FishMedium" type="button" role="tab" aria-selected="false">Medium Fish</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="smallFishGroup" value="FishSmall" type="button" role="tab" aria-selected="false">Small Fish</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="vegetablesGroup" value="cookingVegetable" type="button" role="tab" aria-selected="false">Vegetables</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="fruitsGroup" value="cookingFruit" type="button" role="tab" aria-selected="false">Fruits</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="berryGroup" value="cookingBerry" type="button" role="tab" aria-selected="false">Berry</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="grainsGroup" value="cookingGrain" type="button" role="tab" aria-selected="false">Grains</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="nutGroup" value="cookingNut" type="button" role="tab" aria-selected="false">Nut</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="honeyGroup" value="cookingHoney" type="button" role="tab" aria-selected="false">Honey</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="eggGroup" value="Egg" type="button" role="tab" aria-selected="false">Egg</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="componentsGroup" value="CookingComponents" type="button" role="tab" aria-selected="false">Components</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="waterGroup" value="cookingWater" type="button" role="tab" aria-selected="false">Water</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="seasoningsGroup" value="Seasonings" type="button" role="tab" aria-selected="false">Seasonings</button>
            </li>
        </div>
    </ul>
</div>

<div class="tab-pane allToggled" id="dyeFamily" role="tabpanel" aria-labelledby="dyeFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Dye</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToResources5" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources5" aria-selected="false"  _="on click remove .active from #dye">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="pigmentsGroup" value="Pigments" type="button" role="tab" aria-selected="false">Pigments</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="refinedFamily" role="tabpanel" aria-labelledby="refinedFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Refined</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToResources6" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources6" aria-selected="false"  _="on click remove .active from #refined">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="woodGroup" value="Timber" type="button" role="tab" aria-selected="false">Wood</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="clothGroup" value="refinedCloth" type="button" role="tab" aria-selected="false">Cloth</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="stoneGroup" value="Block" type="button" role="tab" aria-selected="false">Stone</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="ingotGroup" value="Ingot" type="button" role="tab" aria-selected="false">Ingot</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="preciousIngotGroup" value="IngotPrecious" type="button" role="tab" aria-selected="false">Precious Ingot</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="cutGemstonesGroup" value="CutGem" type="button" role="tab" aria-selected="false">Cut Gemstones</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="leatherGroup" value="refinedLeather" type="button" role="tab" aria-selected="false">Leather</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="gunpowderGroup" value="Gunpowder" type="button" role="tab" aria-selected="false">Gunpowder</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="charcoalGroup" value="Charcoal" type="button" role="tab" aria-selected="false">Charcoal</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="componentsFamily" role="tabpanel" aria-labelledby="componentsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Components</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToResources7" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources7" aria-selected="false"  _="on click remove .active from #components">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="craftingGroup" value="CraftingComponents" type="button" role="tab" aria-selected="false">Crafting</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="refiningGroup" value="RefiningComponents" type="button" role="tab" aria-selected="false">Refining</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="patternsGroup" value="CraftingPatterns" type="button" role="tab" aria-selected="false">Patterns</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="trinketGroup" value="TrinketComponents" type="button" role="tab" aria-selected="false">Trinket</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="instrumentGroup" value="InstrumentComponents" type="button" role="tab" aria-selected="false">Instrument</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="craftModsFamily" role="tabpanel" aria-labelledby="craftModsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Craft Mods</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToResources8" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources8" aria-selected="false"  _="on click remove .active from #craftMods">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="conditionalGroup" value="Conditional" type="button" role="tab" aria-selected="false">Conditional</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="attributeGroup" value="AttributeItem" type="button" role="tab" aria-selected="false">Attribute</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="offensiveGroup" value="Offensive" type="button" role="tab" aria-selected="false">Offensive</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="utilityGroup" value="Utility" type="button" role="tab" aria-selected="false">Utility</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="defensiveGroup" value="Defensive" type="button" role="tab" aria-selected="false">Defensive</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="azothFamily" role="tabpanel" aria-labelledby="azothFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Azoth</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToResources9" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources9" aria-selected="false"  _="on click remove .active from #azoth">Back</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="runeglassComponentsFamily" role="tabpanel" aria-labelledby="runeglassComponentsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Runeglass Components</span>
        </li>
        <div style="overflow-y: scroll; overflow-x: hidden; max-height: 541px; width:200px">
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="backToResources10" value="Resources" data-toggle="tab" data-target="#Resources" type="button" role="tab" aria-controls="backToResources10" aria-selected="false"  _="on click remove .active from #runeglassComponents">Back</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="emptyCasesGroup" value="RuneglassEmpty" type="button" role="tab" aria-selected="false">Empty Cases</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="diamondGroup" value="RuneglassDiamond" type="button" role="tab" aria-selected="false">Diamond Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="aquamarineGroup" value="RuneglassAquamarine" type="button" role="tab" aria-selected="false">Aquamarine Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="opalGroup" value="RuneglassOpal" type="button" role="tab" aria-selected="false">Opal Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="malachiteGroup" value="RuneglassMalachite" type="button" role="tab" aria-selected="false">Malachite Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="topazGroup" value="RuneglassTopaz" type="button" role="tab" aria-selected="false">Topaz Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="moonstoneGroup" value="RuneglassMoonstone" type="button" role="tab" aria-selected="false">Moonstone Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="emeraldGroup" value="RuneglassEmerald" type="button" role="tab" aria-selected="false">Emerald Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="carnelianGroup" value="RuneglassCarnelian" type="button" role="tab" aria-selected="false">Carnelian Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="sapphireGroup" value="RuneglassSapphire" type="button" role="tab" aria-selected="false">Sapphire Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="jasperGroup" value="RuneglassJasper" type="button" role="tab" aria-selected="false">Jasper Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="rubyGroup" value="RuneglassRuby" type="button" role="tab" aria-selected="false">Ruby Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="amberGroup" value="RuneglassAmber" type="button" role="tab" aria-selected="false">Amber Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="amethystGroup" value="RuneglassAmethyst" type="button" role="tab" aria-selected="false">Amethyst Runeglass</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-outline-secondary allToggled" id="onyxGroup" value="RuneglassOnyx" type="button" role="tab" aria-selected="false">Onyx Runeglass</button>
            </li>
        </div>
    </ul>
</div>