<div class="tab-pane allToggled" id="Tools" role="tabpanel" aria-labelledby="Tools">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Tools</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="gathering" data-toggle="tab" data-target="#gatheringGroup" type="button" role="tab" aria-controls="gatheringGroup" aria-selected="false"  _="on click call me.blur() remove .active from #backToTools1">Gathering</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="instruments" data-toggle="tab" data-target="#instrumentsGroup" type="button" role="tab" aria-controls="instrumentsGroup" aria-selected="false"  _="on click call me.blur() remove .active from #backToTools2">Instruments</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="gatheringGroup" role="tabpanel" aria-labelledby="gatheringGroup">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Gathering</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToTools1" data-toggle="tab" data-target="#Tools" type="button" role="tab" aria-controls="backToTools1" aria-selected="false"  _="on click call me.blur() remove .active from #gathering">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="loggingAxeGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Logging Axe</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="sickleGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Sickle</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="pickaxeGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Pickaxe</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="skinningKnifeGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Skinning Knife</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="fishingPoleGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Fishing Pole</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="instrumentsGroup" role="tabpanel" aria-labelledby="instrumentsGroup">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Instruments</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToTools2" data-toggle="tab" data-target="#Tools" type="button" role="tab" aria-controls="backToTools2" aria-selected="false"  _="on click call me.blur() remove .active from #instruments">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="drumsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Drums</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="guitarGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Guitar</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="azothFluteGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Azoth Flute</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="mandolinGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Mandolin</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="uprightBassGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Upright Bass</button>
        </li>
    </ul>
</div>