<div class="tab-pane allToggled" id="Weapons" role="tabpanel" aria-labelledby="Weapons">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Weapons</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="oneHanded" data-toggle="tab" data-target="#oneHandedFamily" type="button" role="tab" aria-controls="oneHandedFamily" aria-selected="false"  _="on click call me.blur() remove .active from #backToWeapons1">1-Handed</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="twoHanded" data-toggle="tab" data-target="#twoHandedFamily" type="button" role="tab" aria-controls="twoHandedFamily" aria-selected="false"  _="on click call me.blur() remove .active from #backToWeapons2">2-Handed</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="shields" data-toggle="tab" data-target="#shieldsFamily" type="button" role="tab" aria-controls="shieldsFamily" aria-selected="false" _="on click call me.blur() remove .active from #backToWeapons3">Shields</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="magical" data-toggle="tab" data-target="#magicalFamily" type="button" role="tab" aria-controls="magicalFamily" aria-selected="false" _="on click call me.blur() remove .active from #backToWeapons4">Magical</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="oneHandedFamily" role="tabpanel" aria-labelledby="oneHandedFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>1-Handed</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToWeapons1" data-toggle="tab" data-target="#Weapons" type="button" role="tab" aria-controls="backToWeapons1" aria-selected="false"  _="on click call me.blur() remove .active from #oneHanded">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="hatchetsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Hatchets</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="rapiersGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Rapiers</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="swordsGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Swords</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="twoHandedFamily" role="tabpanel" aria-labelledby="twoHandedFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>2-Handed</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToWeapons2" data-toggle="tab" data-target="#Weapons" type="button" role="tab" aria-controls="backToWeapons2" aria-selected="false"  _="on click call me.blur() remove .active from #twoHanded">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="greatAxesGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Great Axes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="spearsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Spears</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="warHammersGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">War Hammers</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="blunderbussesGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Blunderbusses</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="bowsGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Bows</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="musketGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Muskets</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="greatswordsGroup" type="button" role="tab" aria-selected="false" _="on click call me.blur()">Greatswords</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="shieldsFamily" role="tabpanel" aria-labelledby="shieldsFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Shields</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToWeapons3" data-toggle="tab" data-target="#Weapons" type="button" role="tab" aria-controls="backToWeapons3" aria-selected="false"  _="on click call me.blur() remove .active from #shields">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="roundShieldsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Round Shields</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="kiteShieldsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Kite Shields</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="towerShieldsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Tower Shields</button>
        </li>
    </ul>
</div>

<div class="tab-pane allToggled" id="magicalFamily" role="tabpanel" aria-labelledby="magicalFamily">
    <ul class="nav nav-tabs flex-column allToggled" role="tablist">
        <li class="familyHeader">
            <span>Magical</span>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="backToWeapons4" data-toggle="tab" data-target="#Weapons" type="button" role="tab" aria-controls="backToWeapons4" aria-selected="false"  _="on click call me.blur() remove .active from #magical">Back</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="lifeStavesGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Life Staves</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="fireStavesGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Fire Staves</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="iceGauntletsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Ice Gauntlets</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-outline-secondary allToggled" id="voidGauntletsGroup" type="button" role="tab" aria-selected="false"  _="on click call me.blur()">Void Gauntlets</button>
        </li>
    </ul>
</div>