<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>

    <title>{% block title %}NewWorld Tools{% endblock %}</title>

    {% block head %}
    {% block script_head %}{% endblock %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">NewWorld Tools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link text-white" id="login" aria-current="page" href="/skills">Skills</a>
            <a class="nav-link text-white" id="login" aria-current="page" href="/gearsets">Gear Sets</a>
            <a class="nav-item nav-link text-white" id="signup" href="/tradepost">Trade Post</a>
            <a class="nav-item nav-link text-white" id="signup" href="/calculators">Calculators</a>
            <a class="nav-item nav-link text-white" id="faq" href="/markets">Markets</a>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0" method="POST">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search_button">Search</button>
        </form>-->!
      </div>
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content%}
    {% block script_body %}{% endblock %}
    {% endblock %}

    <!-- Quick start scripts-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <script>
      $('.alert').alert()
    </script>
  </body>

   <!--<div class="footer">
      <a style="color: black">Created by Noel Dolores - 2022</a>
      <a style="color: black; margin-left: 1%" href="https://www.linkedin.com/in/noeldolores/" target="_blank">LinkedIn</a>
      <a style="color: black; margin-left: 1%" href="https://github.com/noeldolores/breadcrumbtrail_live" target="_blank">GitHub</a>
  </div>-->
</html>