{% extends "base.html" %} 

{% block head %}
<title>Gear Sets - NewWorld Tools</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='css/gearsets.css') }}"/>
{% endblock %}

{% block content%}
<div id="htmx-swap">
    {% include "navbar.html" %}
    
    <h1 align="center" class="text-black gearsets-h1" id="topHeader">Gear Sets</h1>
    
    <form hx-post="/gearsets" hx-target="#htmx-swap">
        <div class="container">
            <div class="active list-unstyled components">
                
                <li>
                    <h4 class="gearsets-h4" align="center">Leatherworking</h4>
                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <label class="gearsets-label" for="leatherworking_headwear">
                                Headwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['leatherworking']['leatherworking_headwear'] else "" }} id="leatherworking_headwear" name="leatherworking_headwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Chestwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['leatherworking']['leatherworking_chestwear'] else "" }}  id="leatherworking_chestwear" name="leatherworking_chestwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Legwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['leatherworking']['leatherworking_legwear'] else "" }} id="leatherworking_legwear" name="leatherworking_legwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Footwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['leatherworking']['leatherworking_footwear'] else "" }} id="leatherworking_footwear" name="leatherworking_footwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Glove
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['leatherworking']['leatherworking_glove'] else "" }} id="leatherworking_glove" name="leatherworking_glove">
                        </div>
                    </div>
                </li>

                <li>
                    <h4 class="gearsets-h4" align="center">Smelting</h4>
                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Headwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['smelting']['smelting_headwear'] else "" }} id="smelting_headwear" name="smelting_headwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Chestwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['smelting']['smelting_chestwear'] else "" }}  id="smelting_chestwear" name="smelting_chestwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Legwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['smelting']['smelting_legwear'] else "" }}  id="smelting_legwear" name="smelting_legwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Footwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['smelting']['smelting_footwear'] else "" }}  id="smelting_footwear" name="smelting_footwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Glove
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['smelting']['smelting_glove'] else "" }}  id="smelting_glove" name="smelting_glove">
                        </div>
                    </div>
                </li>

                <li>
                    <h4 class="gearsets-h4" align="center">Stone Cutting</h4>
                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Headwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['stone_cutting']['stone_cutting_headwear'] else "" }} id="stone_cutting_headwear" name="stone_cutting_headwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Chestwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['stone_cutting']['stone_cutting_chestwear'] else "" }} id="stone_cutting_chestwear" name="stone_cutting_chestwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Legwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['stone_cutting']['stone_cutting_legwear'] else "" }} id="stone_cutting_legwear" name="stone_cutting_legwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Footwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['stone_cutting']['stone_cutting_footwear'] else "" }} id="stone_cutting_footwear" name="stone_cutting_footwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Glove
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['stone_cutting']['stone_cutting_glove'] else "" }} id="stone_cutting_glove" name="stone_cutting_glove">
                        </div>
                    </div>
                </li>

                <li>
                    <h4 class="gearsets-h4" align="center">Weaving</h4>
                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Headwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['weaving']['weaving_headwear'] else "" }} id="weaving_headwear" name="weaving_headwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Chestwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['weaving']['weaving_chestwear'] else "" }} id="weaving_chestwear" name="weaving_chestwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Legwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['weaving']['weaving_legwear'] else "" }} id="weaving_legwear" name="weaving_legwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Footwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['weaving']['weaving_footwear'] else "" }} id="weaving_footwear" name="weaving_footwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Glove
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['weaving']['weaving_glove'] else "" }} id="weaving_glove" name="weaving_glove">
                        </div>
                    </div>
                </li>

                <li>
                    <h4 class="gearsets-h4" align="center">Wooodworking</h4>
                    <div class="form-row justify-content-center">
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Headwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['woodworking']['woodworking_headwear'] else "" }} id="woodworking_headwear" name="woodworking_headwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Chestwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['woodworking']['woodworking_chestwear'] else "" }} id="woodworking_chestwear" name="woodworking_chestwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Legwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['woodworking']['woodworking_legwear'] else "" }} id="woodworking_legwear" name="woodworking_legwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Footwear
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['woodworking']['woodworking_footwear'] else "" }} id="woodworking_footwear" name="woodworking_footwear">
                        </div>
                        <div class="col-auto">
                            <label class="gearsets-label" for="viewstats">
                                Glove
                            </label>
                            <br>
                            <input class="gearsets-input" type="checkbox" {{ "checked" if gear_sets['woodworking']['woodworking_glove'] else "" }} id="woodworking_glove" name="woodworking_glove">
                        </div>
                    </div>
                </li>
            </div>

            <div>
                <button class="btn btn-outline-light saveGearsets" type="submit" name="save">Save</button>
            </div>

        </div>
    </form>

    {% include "scripts.html" %}
</div>
{% endblock %}