{% extends "base.html" %} 

{% block head %}
<title>{{material}} - NewWorld Tools</title>
<link rel="stylesheet" href="{{ url_for('static', filename='material.css') }}"/>
{% endblock %}

{% block content%}
{% include "navbar.html" %}
<h1 align="center" class="text-black" id="topHeader">{{material}}</h1>

<div class="container">
    <div class="active list-unstyled components">

        <form class="form-row justify-content-center">
            <div class="col-auto p-2">
                <input type="number" id="quant_field" class="form-control" min="1" max="2147483646" value="{{quantity}}" name="update_quantity"
                    hx-get="/material_table/{{material}}" 
                    hx-trigger="keyup[key=='Enter'] from:body, keyup[key!='Enter'] changed delay:500ms" 
                    hx-target="#ingredients" 
                    _="on keyup add .load to #values">
                <input type="text" style="display: none;" />
            </div>
        </form>

        <table class="table table-striped table-hover" id="ingredients"  _="on htmx:load call #quant_field.blur()">
            {% include "material_table.html"%}
        </table>
        
    </div>
</div>
{% include "scripts.html" %}
{% endblock %}