<thead>
    <tr>
        {% for key, value in material_data.items() %}
        <th scope="col">{{ key.title() | replace("_"," ") }}</th>
        {% endfor %}
        {% for key, value in component_data.items() %}
        <th scope="col">{{ key.title() | replace("_"," ") }}</th>
        {% endfor %}
    </tr>
</thead>
{% for material in data %}
<tbody>
    <tr id="values">
        {% for value in material.values() %}
        <td scope="row">{{ value }}</td>
        {% endfor %}
    </tr>
</tbody>
{% endfor %}