<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navtest">
    <a class="navbar-brand" href="/">NewWorld Tools</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link text-white" href="/skills">Skills</a>
            <a class="nav-link text-white" href="/gearsets">Gear Sets</a>
            <a class="nav-link text-white" href="/tradepost">Trade Post</a>
            <a class="nav-link text-white" href="/refining">Refining</a>
            <!--<div id="dropdown-main">
            <li class="nav-item dropdown">
                <a class="nav-link text-white" href="#" hx-get="/dropdown_show" hx-target="#dropdown-main">
                Calculators
                </a>
            </li>
            </div>-->
            <a class="nav-item nav-link text-white" id="faq" href="/markets">Markets</a>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" id="search">
            <input class="form-control mr-sm-2 datafield" type="text" name="search" aria-label="Search" list="materialList" autocomplete="off" onkeydown="return /[a-z]/i.test(event.key)"
                hx-get="/datalist" 
                hx-trigger="keyup changed delay:500ms, search" 
                hx-target="#materialList" >
            
            <datalist id="materialList"></datalist>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
    </div>
</nav>