<thead>
    <tr>
        {% for key in data[0].keys() %}
            {% if key == "elemental_lodestone" %}
            <th scope="col" class="table-dark">{{ key.title() | replace("_"," ") }}</th>
            {% else%}
            <th scope="col" class="table-dark"><a href="/material/{{key}}">{{ key.title() | replace("_"," ") }}</th>
            {% endif %}
        {% endfor %}
    </tr>
</thead>
{% for material in data %}
<tbody>
    <tr id="values">
        {% for value in material.values() %}
        <td scope="row">{{ value }}</td>
        {% endfor %}
    </tr>
</tbody>
{% endfor %}