{% extends "base.html" %} 

{% block head %}
<title>Refining - NewWorld Tools</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/refining.css') }}"/>
{% endblock %}

{% block content%}
{% include "navbar.html" %}

<h1 align="center" class="text-black pb-4" id="topHeader">Refining</h1>

<form>
    <div class="container">
        <div class="active list-unstyled components">
            
            {% for i in range(0, template_order|length) %}
            <div href="#homeSubmenu{{i}}" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle collapse-main">{{template_order[i][0].title() | replace("_"," ")}}</div>
            <ul class="collapse list-unstyled collapseall" id="homeSubmenu{{i}}">
                <li>
                    <table class="table table-striped table-secondary">
                        <thead>
                        <tr>
                            <th scope="col" class="table-dark">Target</th>
                            <th scope="col" class="table-dark">Buy</th>
                            <th scope="col" class="table-dark">Avg. Cost</th>
                            <th scope="col" class="table-dark">TP Flip</th>
                            <th scope="col" class="table-dark">TP Margin %</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for material in template_order[i][1:] %}
                            <tr>
                            {% if material == "elemental_lodestone"%}
                                <td scope="row"><a href="/material/{{ cheapest_route[template_order[i][0]][material]['source'].lower() | replace(" ","_") }}">{{material.title() | replace("_"," ")}}</a></td>
                            {% else %}
                                <td scope="row"><a href="/material/{{material | replace(" ","_")}}">{{material.title() | replace("_"," ")}}</a></td>
                            {% endif %}
                                <td><a href="/material/{{ cheapest_route[template_order[i][0]][material]['source'].lower() | replace(" ","_") }}">{{ cheapest_route[template_order[i][0]][material]['source'] }}</td>
                                <td>{{ '%.2f'|format(cheapest_route[template_order[i][0]][material]['price'] | float) }}</td>
                                <td>{{ '%.2f'|format(cheapest_route[template_order[i][0]][material]['tp_flip'] | float) }}</td>
                                <td>{{ cheapest_route[template_order[i][0]][material]['tp_margin'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </li>
            </ul> 
            {% endfor %}

        </div>
    </div>
</form>

<br></br>
{% include "scripts.html" %}
{% endblock %}