{% extends "base.html" %} 

{% block head %}
<title>Trade Post Prices - NewWorld Tools</title>
<link id="style" rel="stylesheet" href="{{ url_for('static', filename='tradepost.css') }}"/>
{% endblock %}

{% block content%}

<div id="htmx-swap">
    {% include "navbar.html" %}

    <h1 align="center" class="text-black" id="topHeader">Trade Post Prices</h1>

    <form hx-post="/tradepost" hx-target="#htmx-swap">
        <div class="container">
            <div class="active list-unstyled components">
                <div id="collapse" href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-dark dropdown-toggle collapse-main">Refining Components</div>
                <ul class="collapse list-unstyled show collapseall" id="homeSubmenu1">
                    <li id="listspace">
                        <div class="form-row justify-content-center">
                            <div class="col-auto">
                                <label for="aged_tannin">Aged Tannin</label>
                                <input type="number" step="0.01" id="aged_tannin" name="aged_tannin" class="form-control price" min="0" value="{{ price_list['refining_components']['aged_tannin'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="obsidian_flux">Obsidian Flux</label>
                                <input type="number" step="0.01" id="obsidian_flux" name="obsidian_flux" class="form-control price" min="0" value="{{ price_list['refining_components']['obsidian_flux'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="obsidian_sandpaper">Obsidian Sandpaper</label>
                                <input type="number" step="0.01" id="obsidian_sandpaper" name="obsidian_sandpaper" class="form-control price" min="0" value="{{ price_list['refining_components']['obsidian_sandpaper'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="wireweave">Wireweave</label>
                                <input type="number" step="0.01" id="wireweave" name="wireweave" class="form-control price" min="0" value="{{ price_list['refining_components']['wireweave'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="pure_solvent">Pure Solvent</label>
                                <input type="number" step="0.01" id="pure_solvent" name="pure_solvent" class="form-control price" min="0" value="{{ price_list['refining_components']['pure_solvent'] }}">
                            </div>
                        </div>
                    </li>
                </ul>

                <div href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-dark dropdown-toggle collapse-main">Leatherworking</div>
                <ul class="collapse list-unstyled show collapseall" id="homeSubmenu2">
                    <li id="listspace">
                        <div class="form-row justify-content-center">
                            <div class="col-auto">
                                <label for="rawhide">Rawhide</label>
                                <input type="number" step="0.01" step="0.01" id="rawhide" name="rawhide" class="form-control price" min="0" value="{{ price_list['leatherworking']['rawhide'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="coarse_leather">Coarse Leather</label>
                                <input type="number" step="0.01" id="coarse_leather" name="coarse_leather" class="form-control price" min="0" value="{{ price_list['leatherworking']['coarse_leather'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="rugged_leather">Rugged Leather</label>
                                <input type="number" step="0.01" id="rugged_leather" name="rugged_leather" class="form-control price" min="0" value="{{ price_list['leatherworking']['rugged_leather'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="thick_hide">Thick Hide</label>
                                <input type="number" step="0.01" id="thick_hide" name="thick_hide" class="form-control price" min="0" value="{{ price_list['leatherworking']['thick_hide'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="layered_leather">Layered Leather</label> 
                                <input type="number" step="0.01" id="layered_leather" name="layered_leather" class="form-control price" min="0" value="{{ price_list['leatherworking']['layered_leather'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="iron_hide">Iron Hide</label>
                                <input type="number" step="0.01" id="iron_hide" name="iron_hide" class="form-control price" min="0" value="{{ price_list['leatherworking']['iron_hide'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="infused_leather">Infused Leather</label>
                                <input type="number" step="0.01" id="infused_leather" name="infused_leather" class="form-control price" min="0" value="{{ price_list['leatherworking']['infused_leather'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="smolderhide">Smolderhide</label>
                                <input type="number" step="0.01" id="smolderhide" name="smolderhide" class="form-control price" min="0" value="{{ price_list['leatherworking']['smolderhide'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="scarhide">Scarhide</label>
                                <input type="number" step="0.01" id="scarhide" name="scarhide" class="form-control price" min="0" value="{{ price_list['leatherworking']['scarhide'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="runic_leather">Runic Leather</label>
                                <input type="number" step="0.01" id="runic_leather" name="runic_leather" class="form-control price" min="0" value="{{ price_list['leatherworking']['runic_leather'] }}">
                            </div>
                        </div>
                    </li>
                </ul>
            
            
                <div href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-dark dropdown-toggle collapse-main">Smelting</div>
                <ul class="collapse list-unstyled show collapseall" id="homeSubmenu3">
                    <li id="listspace">
                        <div class="form-row justify-content-center">
                            <div class="col-auto">
                                <label for="iron_ore">Iron Ore</label>
                                <input type="number" step="0.01" id="iron_ore" name="iron_ore" class="form-control price" min="0" value="{{ price_list['smelting']['iron_ore'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="iron_ingot">Iron Ingot</label>
                                <input type="number" step="0.01" id="iron_ingot" name="iron_ingot" class="form-control price" min="0" value="{{ price_list['smelting']['iron_ingot'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="charcoal">Charcoal</label>
                                <input type="number" step="0.01" id="charcoal" name="charcoal" class="form-control price" min="0" value="{{ price_list['smelting']['charcoal'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="steel_ingot">Steel Ingot</label> 
                                <input type="number" step="0.01" id="steel_ingot" name="steel_ingot" class="form-control price" min="0" value="{{ price_list['smelting']['steel_ingot'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="starmetal_ore">Starmetal Ore</label>
                                <input type="number" step="0.01" id="starmetal_ore" name="starmetal_ore" class="form-control price" min="0" value="{{ price_list['smelting']['starmetal_ore'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="starmetal_ingot">Starmetal Ingot</label>
                                <input type="number" step="0.01" id="starmetal_ingot" name="starmetal_ingot" class="form-control price" min="0" value="{{ price_list['smelting']['starmetal_ingot'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="orichalcum_ore">Orichalcum Ore</label>
                                <input type="number" step="0.01" id="orichalcum_ore" name="orichalcum_ore" class="form-control price" min="0" value="{{ price_list['smelting']['orichalcum_ore'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="orichalcum_ingot">Orichalcum Ingot</label>
                                <input type="number" step="0.01" id="orichalcum_ingot" name="orichalcum_ingot" class="form-control price" min="0" value="{{ price_list['smelting']['orichalcum_ingot'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="tolvium">Tolvium</label>
                                <input type="number" step="0.01" id="tolvium" name="tolvium" class="form-control price" min="0" value="{{ price_list['smelting']['tolvium'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="cinnabar">Cinnabar</label>
                                <input type="number" step="0.01" id="cinnabar" name="cinnabar" class="form-control price" min="0" value="{{ price_list['smelting']['cinnabar'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="asmodeum">Asmodeum</label>
                                <input type="number" step="0.01" id="asmodeum" name="asmodeum" class="form-control price" min="0" value="{{ price_list['smelting']['asmodeum'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="silver_ore">Silver Ore</label>
                                <input type="number" step="0.01" id="silver_ore" name="silver_ore" class="form-control price" min="0" value="{{ price_list['smelting']['silver_ore'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="silver_ingot">Silver Ingot</label>
                                <input type="number" step="0.01" id="silver_ingot" name="silver_ingot" class="form-control price" min="0" value="{{ price_list['smelting']['silver_ingot'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="gold_ore">Gold Ore</label>
                                <input type="number" step="0.01" id="gold_ore" name="gold_ore" class="form-control price" min="0" value="{{ price_list['smelting']['gold_ore'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="gold_ingot">Gold Ingot</label>
                                <input type="number" step="0.01" id="gold_ingot" name="gold_ingot" class="form-control price" min="0" value="{{ price_list['smelting']['gold_ingot'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="platinum_ore">Platinum Ore</label>
                                <input type="number" step="0.01" id="platinum_ore" name="platinum_ore" class="form-control price" min="0" value="{{ price_list['smelting']['platinum_ore'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="platinum_ingot">Platinum Ingot</label>
                                <input type="number" step="0.01" id="platinum_ingot" name="platinum_ingot" class="form-control price" min="0" value="{{ price_list['smelting']['platinum_ingot'] }}">
                            </div>
                        </div>
                    </li>
                </ul>
                

                <div href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-dark dropdown-toggle collapse-main">Stone Cutting</div>
                <ul class="collapse list-unstyled show collapseall" id="homeSubmenu4">
                    <li id="listspace">
                        <div class="form-row justify-content-center">
                            <div class="col-auto">
                                <label for="stone">Stone</label>
                                <input type="number" step="0.01" id="stone" name="stone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['stone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="stone_block">Stone Block</label>
                                <input type="number" step="0.01" id="stone_block" name="stone_block" class="form-control price" min="0" value="{{ price_list['stone_cutting']['stone_block'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="stone_brick">Stone Brick</label> 
                                <input type="number" step="0.01" id="stone_brick" name="stone_brick" class="form-control price" min="0" value="{{ price_list['stone_cutting']['stone_brick'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="lodestone">Lodestone</label>
                                <input type="number" step="0.01" id="lodestone" name="lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="lodestone_brick">Lodestone Brick</label>
                                <input type="number" step="0.01" id="lodestone_brick" name="lodestone_brick" class="form-control price" min="0" value="{{ price_list['stone_cutting']['lodestone_brick'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="obsidian_voidstone">Obsidian Voidstone</label>
                                <input type="number" step="0.01" id="obsidian_voidstone" name="obsidian_voidstone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['obsidian_voidstone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="molten_lodestone">Molten Lodestone</label>
                                <input type="number" step="0.01" id="molten_lodestone" name="molten_lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['molten_lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="loamy_lodestone">Loamy Lodestone</label>
                                <input type="number" step="0.01" id="loamy_lodestone" name="loamy_lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['loamy_lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="shocking_lodestone">Shocking Lodestone</label>
                                <input type="number" step="0.01" id="shocking_lodestone" name="shocking_lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['shocking_lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="crystalline_lodestone">Crystalline Lodestone</label>
                                <input type="number" step="0.01" id="crystalline_lodestone" name="crystalline_lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['crystalline_lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="freezing_lodestone">Freezing Lodestone</label>
                                <input type="number" step="0.01" id="freezing_lodestone" name="freezing_lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['freezing_lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="putrid_lodestone">Putrid Lodestone</label>
                                <input type="number" step="0.01" id="putrid_lodestone" name="putrid_lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['putrid_lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="gleaming_lodestone">Gleaming Lodestone</label>
                                <input type="number" step="0.01" id="gleaming_lodestone" name="gleaming_lodestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['gleaming_lodestone'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="runestone">Runestone</label>
                                <input type="number" step="0.01" id="runestone" name="runestone" class="form-control price" min="0" value="{{ price_list['stone_cutting']['runestone'] }}">
                            </div>
                        </div>
                    </li>
                </ul>
                

                <div href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-dark dropdown-toggle collapse-main">Weaving</div>
                <ul class="collapse list-unstyled show collapseall" id="homeSubmenu5">
                    <li id="listspace">
                        <div class="form-row justify-content-center">
                            <div class="col-auto">
                                <label for="fibers">Fibers</label>
                                <input type="number" step="0.01" id="fibers" name="fibers" class="form-control price" min="0" value="{{ price_list['weaving']['fibers'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="linen">Linen</label>
                                <input type="number" step="0.01" id="linen" name="linen" class="form-control price" min="0" value="{{ price_list['weaving']['linen'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="sateen">Sateen</label> 
                                <input type="number" step="0.01" id="sateen" name="sateen" class="form-control price" min="0" value="{{ price_list['weaving']['sateen'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="silk_threads">Silk Threads</label>
                                <input type="number" step="0.01" id="silk_threads" name="silk_threads" class="form-control price" min="0" value="{{ price_list['weaving']['silk_threads'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="silk">Silk</label>
                                <input type="number" step="0.01" id="silk" name="silk" class="form-control price" min="0" value="{{ price_list['weaving']['silk'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="wirefiber">Wirefiber</label>
                                <input type="number" step="0.01" id="wirefiber" name="wirefiber" class="form-control price" min="0" value="{{ price_list['weaving']['wirefiber'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="infused_silk">Infused Silk</label>
                                <input type="number" step="0.01" id="infused_silk" name="infused_silk" class="form-control price" min="0" value="{{ price_list['weaving']['infused_silk'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="scalecloth">Scalecloth</label>
                                <input type="number" step="0.01" id="scalecloth" name="scalecloth" class="form-control price" min="0" value="{{ price_list['weaving']['scalecloth'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="blisterweave">Blisterweave</label>
                                <input type="number" step="0.01" id="blisterweave" name="blisterweave" class="form-control price" min="0" value="{{ price_list['weaving']['blisterweave'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="phoenixweave">Phoenixweave</label>
                                <input type="number" step="0.01" id="phoenixweave" name="phoenixweave" class="form-control price" min="0" value="{{ price_list['weaving']['phoenixweave'] }}">
                            </div>
                        </div>
                    </li>
                </ul>

                <div href="#homeSubmenu6" data-toggle="collapse" aria-expanded="false" class="btn btn-outline-dark dropdown-toggle collapse-main">Woodworking</div>
                <ul class="collapse list-unstyled show collapseall" id="homeSubmenu6">
                    <li id="listspace">
                        <div class="form-row justify-content-center">
                            <div class="col-auto">
                                <label for="green_wood">Green Wood</label>
                                <input type="number" step="0.01" id="green_wood" name="green_wood" class="form-control price" min="0" value="{{ price_list['woodworking']['green_wood'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="timber">Timber</label>
                                <input type="number" step="0.01" id="timber" name="timber" class="form-control price" min="0" value="{{ price_list['woodworking']['timber'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="aged_wood">Aged Wood</label> 
                                <input type="number" step="0.01" id="aged_wood" name="aged_wood" class="form-control price" min="0" value="{{ price_list['woodworking']['aged_wood'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="lumber">Lumber</label>
                                <input type="number" step="0.01" id="lumber" name="lumber" class="form-control price" min="0" value="{{ price_list['woodworking']['lumber'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="wyrdwood">Wyrdwood</label>
                                <input type="number" step="0.01" id="wyrdwood" name="wyrdwood" class="form-control price" min="0" value="{{ price_list['woodworking']['wyrdwood'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="wyrdwood_planks">Wyrdwood Planks</label>
                                <input type="number" step="0.01" id="wyrdwood_planks" name="wyrdwood_planks" class="form-control price" min="0" value="{{ price_list['woodworking']['wyrdwood_planks'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="ironwood">Ironwood</label>
                                <input type="number" step="0.01" id="ironwood" name="ironwood" class="form-control price" min="0" value="{{ price_list['woodworking']['ironwood'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="ironwood_planks">Ironwood Planks</label>
                                <input type="number" step="0.01" id="ironwood_planks" name="ironwood_planks" class="form-control price" min="0" value="{{ price_list['woodworking']['ironwood_planks'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="wildwood">Wildwood</label>
                                <input type="number" step="0.01" id="wildwood" name="wildwood" class="form-control price" min="0" value="{{ price_list['woodworking']['wildwood'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="barbvine">Barbvine</label>
                                <input type="number" step="0.01" id="barbvine" name="barbvine" class="form-control price" min="0" value="{{ price_list['woodworking']['barbvine'] }}">
                            </div>
                            <div class="col-auto">
                                <label for="glittering_ebony">Glittering Ebony</label>
                                <input type="number" step="0.01" id="glittering_ebony" name="glittering_ebony" class="form-control price" min="0" value="{{ price_list['woodworking']['glittering_ebony'] }}">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                <button class="btn btn-primary savePrices" type="submit">Save</button>
            </div>

        </div>
    </form>

    {% include "scripts.html" %}
    <br></br>
    <br></br>
</div>
{% endblock %}