h2 {
  padding-top: 2rem;
}

h1 {
  margin-bottom: -2rem;
}

#topHeader {
  margin-top: 2rem;
}

input {
  min-width: 135px;
  
}

.skillLevel{
  text-align: center; 
}

label {
  margin-top: 4px;
  margin-bottom: 0px;
}

#skillBoxes{
  text-align: center;
}

.saveSkillLevels {
  margin-top: 2rem;
  min-width: 150px;
}

html {
  overflow-y: scroll;
}


.alert {
  margin-top: 4rem;
}

.datafield::-webkit-calendar-picker-indicator {
  display:none !important;
}

html {
  background-color: rgb(28, 28, 28);
}

.nav-link {
  text-align: left;
}