.gearsets-h1 {
  margin-top: 4rem;
}

.gearsets-collapse-main {
  margin-top: 0.25rem;
  width: 100%;
}

.gearsets-h4 {
  margin-top: 2rem;
}

.gearsets-input {
  margin-left: 4rem;
  margin-right: 4rem;
  transform: scale(2);
  -webkit-transform: scale(2);
}

.gearsets-label {
  font-size: 18px;
  margin-bottom: 4px;
}

.saveGearsets {
  margin-top: 2rem;
  min-width: 150px;
}

#htmx-swap {
  text-align: center;
}