html, body {
  background-color: rgb(28, 28, 28);
}


#listspace {
  margin-top: 1.25rem;
  width: 100%;
  text-align: center;
}
  
.collapse-main {
  margin-top: 0.25rem;
  width: 100%;
  color: white;
}

.skillLevel {
  margin-top: 2px;
}

.header {
  font-weight: bold;
  color: white;
}

.noHover{
  pointer-events: none;
}

h1 {
  margin-top: 4rem;
  color: white;
}

tr {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.htmx-settling tr.load td {
  background: rgb(145, 173, 187);
}
tr td {
  transition: all 0.75s;
}

#quant_field {
  text-align: center;
}

.datafield::-webkit-calendar-picker-indicator {
  display:none !important;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.nav-link {
  text-align: left;
}