html, body {
  background-color: rgb(28, 28, 28);
}

#listspace {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.collapse-main {
  margin-top: 0.25rem;
  width: 100%;
  color: white;
}

.skillLevel {
  margin-top: 2px;
}

.header {
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: -0.25rem;
}

.noHover{
  pointer-events: none;
}

h1 {
  margin-top: 4rem;
  color: white;
}

html {
  overflow-y: scroll;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

th, td {
  color: black;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.datafield::-webkit-calendar-picker-indicator {
  display:none !important;
}

.nav-link {
  text-align: left;
}