html, body {
  background-color: rgb(28, 28, 28);
}

h1 {
  margin-top: 4rem;
  color: white;
}

.price{
  text-align: center; 
}

label {
  margin-top: 4px;
  margin-bottom: 0px;
  color: white;
}

.savePrices {
  margin-top: 2rem;
  min-width: 150px;
}  

#listspace {
  margin-top: 10px;
  margin-bottom: -10px;
  width: 100%;
  text-align: center;
}
  
.collapse-main {
  margin-top: 0.25rem;
  width: 100%;
  color: white;
}

#htmx-swap {
  text-align: center;
}

html {
  overflow-y: scroll;
}

.alert {
  margin-top: 4rem;
}

.datafield::-webkit-calendar-picker-indicator {
  display:none !important;
}

.nav-link {
  text-align: left;
}