{% extends "newworld/base.html" %} 

{% block head %}
<title>Trophy Table - NW Calculators</title>
<link rel="stylesheet" href="{{ url_for('static', filename='newworld/css/trophy.css') }}"/>
{% endblock %}

{% block content%}
<div class="container col-xl-5 col-lg-6 col-md-6">
    <br><br>
    <br><br>
    <div class="card bg-secondary border-success">
        <div class="card-header button btn-outline-success" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne">
            <h1>Trophy Table</h1>
        </div>

        <div id="collapseOne" class="collapse">
            <div class="card-body bg-dark">
                <p1>This table shows the <span style="color:orange;">Cheapest</span> acquisition method, the <span style="color:red; font-weight:400;">Market Price / Craft Cost</span>, and the <span style="color:green;">Profit</span> potential for each trophy.</p1><br>
                <p1>Click a row to view each trophy's recipe. This also includes the cost for each recipe item, as well as the ingredients to make each item the cheapest.</p1><br>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<div class="container">
    <div id="trophy_container" _="init fetch /newworld/table/trophy_hx put the result into #trophy_container"></div>
</div>

<br>
<br>
{% endblock %}